body {
    font-family: Arial, sans-serif;
    background-color: #7D8CA3;
    margin: 0;
    padding: 0;
}

header {
    max-width: 850px;
    margin: 50px auto;
    background-color: #fff;
    border-radius: 20px;
    padding: 20px;
}

h1 {
    text-align: center;
    color: #333;
    font-size: 50px;
    font-family: monospace;
    text-decoration: underline;
}

table {
    width: 100%;
    margin-top: 20px;
    border-collapse: separate;
    font-size: 15px;
    font-family: Right Serif Mono;
}

table, th, td {
    border: 2px solid #ddd;
}

th, td {
    padding: 17px;
    text-align: center;
}

img {
    max-width: 100%;
    height: auto;
    border-radius: 10px;
}

footer {
    margin-top: 20px;
    text-align: center;
    font-family: monospace;
    font-size: 25px;
}

hr {
    border: 0;
    height: 1px;
    background-color: red;
    margin: 20px 0;
}