body {
    font-family: Georgia;
    font-size: 20px;
    background-color: white;
    margin: 0;
    padding: 0;
}

main {
    max-width: 400px;
    margin: 50px auto;
    background-color: #E7E8D1;
    border-radius: 8px;
    padding: 20px;
}

h1 {
    text-align: center;
    color: #020300;
}

form {
    display: flex;
    flex-direction: column;
}

label {
    margin-top: 10px;
    color: #020300;
}

input {
    padding: 10px;
    margin: 5px 0;
    border: 1px solid #ccc;
    border-radius: 4px;
}

button {
    background-color: #B85042;
    color: #25171A;
    padding: 10px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

button:hover {
    background-color: lightcoral;
}

a {
    text-align: center;
    display: block;
    margin-top: 10px;
    color: #6B0504;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

footer {
    margin-top: 20px;
    text-align: center;
}

hr {
    border: 0;
    height: 1px;
    background-color: #ccc;
    margin: 20px 0;
}