body {
    font-family: Georgia, 'Times New Roman', Times, serif;
    background-color: #A7BEAE;
    margin: 0;
    padding: 0;
}

header {
    max-width: 850px;
    margin: 50px auto;
    background-color: #E7E8D1;
    border-radius: 20px;
    padding: 20px;
}

h1 {
    text-align: center;
    color: #B85042;
    font-size: 50px;
    font-family: Georgia;
    text-decoration: underline;
}
p {
    font-family: monospace;
    color: #B85042;
}

table {
    width: 100%;
    margin-top: 20px;
    border-collapse: collapse;
    font-size: 15px;
    font-family: monospace;
}

table, th, td {
    border: 0px solid #B85042;
}

th, td {
    padding: 17px;
    text-align: center;
}

img {
    max-width: 100%;
    height: auto;
    border-radius: 10px;
}

footer {
    margin-top: 20px;
    text-align: center;
    font-family: monospace;
    font-size: 25px;
}

hr {
    border: 0;
    height: 1px;
    background-color: #B85042;
    margin: 20px 0;
}
.image-row {
    display: flex;
    justify-content: space-around;
    margin-bottom: 20px; 
  }
  
  .uploaded-image {
    max-width: 100%;
    height: auto;
    max-height: 250px; 
    border-radius: 10px;
    margin-bottom: 10px; 
  }